@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Kumbh+Sans:wght@400;700&family=Mochiy+Pop+P+One&family=Pacifico&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Roboto:ital,wght@0,500;1,400&family=Rubik+Beastly&family=Rubik:wght@400;500&family=Shadows+Into+Light&family=Source+Code+Pro&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-css {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  text-align: center;
}

.card-grid img {
  width: 23%;
  margin: 0 0 15px 15px;
  border-radius: 25%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.selectList {
  width: 100%;
}

.redLetter {
  color: red;
}
